body{
  text-align: center;
}



.movie_poster{
  width: 150px;
  height: 221px;
}

#container{

}

#center_column{
font-size: 16px;
}

@media (max-width: 500px){
  .movie_poster{
    width: 120px;
    height: 191px;
  }
  #center_column{
    font-size: 12px;
  }
}
